<h1>SERVICE IN ANGULAR</h1>
<h1>{{itemname}}</h1>
<table border="1px">
   <!-- <div *ngFor="let item of newarr"> -->
    <tr *ngFor="let itemname1 of newarr; let i=index">
        <td>{{itemname1}}</td>
        <!-- <ng-container *ngFor="let cat of itemcategory[i]">
            
            
        <ng-container *ngFor="let pr of itemprice[i]">
            <td>{{cat}}</td>
            <td>{{pr}}</td>
        </ng-container>

        </ng-container> -->
        

    </tr>

   <!-- </div> -->
  
</table>
